@model MovieActorAndRoleAddOrEditFormModel


<h2 class="text-center">Edit an Actor and their role</h2>
<hr />

<partial name="_AddOrEditMovieActorAndRoleFormModel" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}