@model GenreAddOrEditFormModel


<h2 class="text-center">Add a movie</h2>
<hr />

<partial name="_AddOrEditGenreFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}