
<div class="q-and-a-container">
	<section class="question-section flex-column text-center mb-3">
		<h1>Q&A section</h1>
		<div class="question-container d-flex flex-column">
			<a href="#what-is-top-movies">What is TopMovies?</a>
			<a href="#why-register">Why should I register on TopMovies?</a>
			<a href="#how-to-rate">How do I submit my rating?</a>
			<a href="#how-to-submit-review">How do I submit a review?</a>
			<a href="#what-kind-of-genres-are-there">What kind of genres are there?</a>
			<a>How many movies do you currently have on TopMovies?</a>
			<a>How do I contact you if I have more questions?</a>
		</div>
	</section>
	<section class="answer-section">
		<div class="text-center">
			<h1 id="what-is-top-movies">What is TopMovies?</h1>
			<p class="mb-0"> TopMovies is one of the best sources for movies, designed to help fans explore the world of movies  and decide what to watch.</p>
			<ul class="text-center">
				<li> <span>We can help you find a movie to your liking based on the genres you like.</span></li>
				<li><span>We have a rating system that lets users vote for the rating of a movie.</span></li>
				<li><span>You can see all the actors that were in the movie including the roles they played</span></li>
			</ul>
		</div>
		<div class="text-center">
			<h1 id="why-register">Why should I register on TopMovies?</h1>
			<p class="mb-0"> Registering on IMDb opens up the ability to enjoy the following features:</p>
			<ul class="text-center">
				<li><span>Rate movies.</span></li>
				<li><span>Make a review of a movie.</span></li>
				<li><span>Add a movie to your watched movies list.</span></li>
			</ul>
		</div>
		<div class="text-center">
			<h1 id="how-to-rate">How do I submit my rating?</h1>
			<p class="mb-0"> Any registered TopMovies user can easily rate any TopMovies title. Rating titles is a great way to share your opinion and keep track of what you've seen</p>
			<p>To submit your rating, navigate to the title page and you'll see the average user rating will show at the top of the screen with yellow stars.</p>
			<p>Click the star to the right and select the number of stars to save your rating!</p>
			<p>Our ratings are on a scale from 1 - 10. 1 meaning the title was terrible and one of the worst titles you've seen and 10 meaning you think it was excellent.</p>
		</div>
		<div class="text-center">
			<h1 id="how-to-submit-review">How do I submit a review?</h1>
			<p>To submit your review navigate to the title page and scroll down to "User Reviews" and then click on add a review.</p>
		</div>
		<div class="text-center">
			<h1 id="what-kind-of-genres-are-there">What kind of genres are there?</h1>
			<p>We currently have these genres :</p>
		</div>
	</section>
</div>

