@model UserReviewAddOrEditFormModel


<h2 class="text-center">Add a Genre</h2>
<hr />

<partial name="_AddOrEditUserReviewFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}