@model UserReviewAddOrEditFormModel


<h2 class="text-center">Edit your review</h2>
<hr />

<partial name="_AddOrEditUserReviewFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}