@model MovieAddOrEditFormModel


<h2 class="text-center">Add a movie</h2>
<hr />

<partial name="_AddOrEditHouseFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}