@model MovieAddOrEditFormModel


<h2 class="text-center">Edit movie</h2>
<hr />

<partial name="_AddOrEditMovieFormPartial" model="@Model" />

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}